     <!DOCTYPE html>
<html lang="es">
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
    <title>Registro de Empleado</title>
</head>
<form method="POST"  class="row g-3 needs-validation">
    <div class="form-control">
<div class="col-md-4">
    <label for="Nombres" class="form-label">Nombre</label>
    <input type="input" name="Nombres" class="form-control" value="{{ empleado.Nombres }}">
</div>
<div class="col-md-4">
    <label for="Apellidos" class="form-label">Apellidos</label>
    <input type="input" name="Apellidos" class="form-control" value="{{ empleado.Apellidos }}">
</div>
<div class="col-md-4">
    <label for="Correo" class="form-label">Correo</label>
    <input type="input" name="Correo" class="form-control" value="{{ empleado.Correo }}">
</div>
<br/>
<div class="col-md-4">
 <select name="Estatus" class="form-control col-md-4">
        <option value="true" {% if empleado.Estatus == "Activo "%}selected{% endif %}>Activo</option>
        <option value="false" {% if empleado.Estatus == "Inactivo" %}selected{% endif %}>Inactivo</option>
    </select>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a href="{{ url_for('empleados') }}" class="btn btn-primary">Regresar</a>
</div>
   
</form>
